<h1>Welcome to Routine {{routine.session}}</h1>
{{#if routine.imageRoutine}}
  <img src="{{routine.imageRoutine}}" alt="Workout Motivation" width="300">
{{else}}
  <p>This routine doesn't have an image</p>
{{/if}}
<br>
<h4>Education: </h4>
<p>{{routine.education}}</p> <br>
<h4>Tips: </h4>
<p>{{routine.tips}}</p> <br>
<h4>Progress</h4>

<form action="/routine/{{routine._id}}/{{routine.session}}" method="post"> 

        <label for="">Session</label>
        <input type="Number" name="session" id="" value={{routine.session}}><br>

        <label for="">Calories : 2000 cal</label>
        <input type="Number" name="calories" id=""><br>

        <label for="">Water : 8 glasses</label>
        <input type="Number" name="water" id=""><br>

        <label for="">Sleep : 8 hours/day</label>
        <input type="Number" name="sleep" id="" ><br>

        <label for="">Exercise : 60 minutes</label>
        <input type="Number" name="exercise" id=""><br>

        <button type="submit">Add Routine </button>
</form>

